In [2]:
#data analysis libraries
import numpy as np
import pandas as pd

#visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

## 读入数据

In [3]:
#import train and test CSV files
Bank_data = pd.read_csv("../赛题/公开数据集/Bank_data.csv")
PetroStation_data = pd.read_csv("../赛题/公开数据集/PetrolStation_data.csv")
VehicleSystem_data = pd.read_csv("../赛题/公开数据集/VehicleSystem_data.csv")

#take a look at the training data
Bank_data.describe(include = "all")

,ID,gender,age,maritalStatus,education,occupation,income,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50
count,2537.00000,2537,2537,2537,2537,2537,2537,2522,2506,2510,2521,2503
unique,NaN,2,8,5,6,25,9,5,5,5,5,5
top,NaN,Male,21,Married partner,Some college - no degree,Unemployed,$25000 - $37499,never,less1,1~3,1~3,less1
freq,NaN,1269,567,1036,883,372,408,992,676,941,1099,1249
mean,16465.87229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,3656.59043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,10004.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,13268.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,16538.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,19660.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,22683.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
PetroStation_data.describe(include = "all")

                 ID weather  time        coupon expiration            Y
count    2537.00000    2537  2537          2537       2537  2537.000000
unique          NaN       3     5             5          2          NaN
top             NaN   Sunny   6PM  Coffee House         1d          NaN
freq            NaN    2006   654           754       1437          NaN
mean    16465.87229     NaN   NaN           NaN        NaN     0.568388
std      3656.59043     NaN   NaN           NaN        NaN     0.495399
min     10004.00000     NaN   NaN           NaN        NaN     0.000000
25%     13268.00000     NaN   NaN           NaN        NaN     0.000000
50%     16538.00000     NaN   NaN           NaN        NaN     1.000000
75%     19660.00000     NaN   NaN           NaN        NaN     1.000000
max     22683.00000     NaN   NaN           NaN        NaN     1.000000

In [7]:
VehicleSystem_data.describe(include = "all")

,ID,destination,passanger,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp
count,2537.00000,2537,2537,2537.000000,2537.000000,2537.000000,2537.000000
unique,NaN,3,4,NaN,NaN,NaN,NaN
top,NaN,No Urgent Place,Alone,NaN,NaN,NaN,NaN
freq,NaN,1204,1493,NaN,NaN,NaN,NaN
mean,16465.87229,NaN,NaN,0.569176,0.131257,0.223492,0.776508
std,3656.59043,NaN,NaN,0.495289,0.337748,0.416668,0.416668
min,10004.00000,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,13268.00000,NaN,NaN,0.000000,0.000000,0.000000,1.000000
50%,16538.00000,NaN,NaN,1.000000,0.000000,0.000000,1.000000
75%,19660.00000,NaN,NaN,1.000000,0.000000,0.000000,1.000000
max,22683.00000,NaN,NaN,1.000000,1.000000,1.000000,1.000000

In [4]:
out_csv = pd.concat([Bank_data,VehicleSystem_data,PetroStation_data], axis = 1)
out_csv.to_csv("all.csv", index = False)
out_csv.head()

,ID,gender,age,maritalStatus,education,occupation,income,Bar,CoffeeHouse,CarryAway,...,coupon,expiration,Y,ID,destination,passanger,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp
0,11263,Male,50plus,Widowed,Some college - no degree,Construction & Extraction,Less than $12500,never,never,less1,...,Coffee House,1d,1,11263,No Urgent Place,Friend(s),0,0,0,1
1,20136,Female,26,Married partner,Some college - no degree,Office & Administrative Support,$75000 - $87499,never,never,1~3,...,Bar,1d,0,20136,Work,Alone,1,0,1,0
2,14763,Female,50plus,Single,Bachelors degree,Retired,$37500 - $49999,never,never,less1,...,Coffee House,1d,0,14763,Work,Alone,1,0,0,1
3,12612,Female,41,Married partner,Bachelors degree,Legal,$100000 or More,never,1~3,1~3,...,Carry out & Take away,2h,0,12612,No Urgent Place,Kid(s),1,0,0,1
4,17850,Female,31,Married partner,Some college - no degree,Computer & Mathematical,$100000 or More,less1,less1,gt8,...,Coffee House,2h,0,17850,No Urgent Place,Partner,1,0,0,1

In [5]:
out_csv.describe(include = "all")

,ID,gender,age,maritalStatus,education,occupation,income,Bar,CoffeeHouse,CarryAway,...,coupon,expiration,Y,ID,destination,passanger,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp
count,2537.00000,2537,2537,2537,2537,2537,2537,2522,2506,2510,...,2537,2537,2537.000000,2537.00000,2537,2537,2537.000000,2537.000000,2537.000000,2537.000000
unique,NaN,2,8,5,6,25,9,5,5,5,...,5,2,NaN,NaN,3,4,NaN,NaN,NaN,NaN
top,NaN,Male,21,Married partner,Some college - no degree,Unemployed,$25000 - $37499,never,less1,1~3,...,Coffee House,1d,NaN,NaN,No Urgent Place,Alone,NaN,NaN,NaN,NaN
freq,NaN,1269,567,1036,883,372,408,992,676,941,...,754,1437,NaN,NaN,1204,1493,NaN,NaN,NaN,NaN
mean,16465.87229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.568388,16465.87229,NaN,NaN,0.569176,0.131257,0.223492,0.776508
std,3656.59043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.495399,3656.59043,NaN,NaN,0.495289,0.337748,0.416668,0.416668
min,10004.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,10004.00000,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,13268.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,13268.00000,NaN,NaN,0.000000,0.000000,0.000000,1.000000
50%,16538.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,16538.00000,NaN,NaN,1.000000,0.000000,0.000000,1.000000
75%,19660.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,19660.00000,NaN,NaN,1.000000,0.000000,0.000000,1.000000
max,22683.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,22683.00000,NaN,NaN,1.000000,1.000000,1.000000,1.000000